@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.7px;
  /* letter-spacing: 0.7px; */
  /* letter-spacing: 0.7px; */
}
/* custom scroll bar */

/* Override scrollbars globally */
* {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track) !important;
  scrollbar-width: 4px !important;
}

/* Firefox styles */
*[style*="overflow: auto"],
*[style*="overflow: scroll"] {
  scrollbar-width: thin !important;
  scrollbar-color: #c1c0c0 transparent !important;
}

/* For WebKit-based browsers */
*::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
  display: none;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #c1c0c0 !important;
  border-radius: 2px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555 !important;
}

@media (max-width: 768px) {
  *::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }
}

.hide-overflow::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
}

.fade-up {
  animation: fadeUpAnimation ease-out 0.5s forwards;
}

@keyframes fadeUpAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-sky {
  color: #74cbe7 !important;
}
